<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>web</MSDeployServiceURL>
    <DeployIisAppPath>tracker.imnotonline.ga</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>northops\administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="financialdocumenttrackersystemEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=web;Initial Catalog=financialdocumenttrackersystem;Persist Security Info=True;User ID=sa;Password=n0rth@dm1N;Asynchronous Processing=True" Name="Data Source=web;Initial Catalog=financialdocumenttrackersystem;Persist Security Info=True;User ID=sa;Password=n0rth@dm1N;Asynchronous Processing=True;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=web;Initial Catalog=financialdocumenttrackersystem;Persist Security Info=True;User ID=sa;Password=n0rth@dm1N;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\financialdocumenttrackersystemEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ModelDb.csdl|res://*/ModelDb.ssdl|res://*/ModelDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=web;initial catalog=financialdocumenttrackersystem;persist security info=True;user id=sa;password=n0rth@dm1N;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="financialdocumenttrackersystemEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModelDb.csdl|res://*/ModelDb.ssdl|res://*/ModelDb.msl;provider=System.Data.SqlClient;provider connection string="Data Source=web;Initial Catalog=financialdocumenttrackersystem;Persist Security Info=True;User ID=sa;Password=n0rth@dm1N;Asynchronous Processing=True;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>