


@{

}



<div class="row">
    <div class="col-lg-4">

        @{
            Html.ComboBoxTraceDocuments(null,"TraceDocumentId");
        }
    </div>
  

</div>
<div class="row">
    <div class="col-lg-6">

        @{
            Html.ButtonSubmitCancel("ReceiveGridView");
        }
    </div>
</div>
