@using System.Diagnostics
@{
    var grid = Html.DevExpress().GridView(settings =>
    {

        settings.Width = Unit.Percentage(100);




        settings.Name = "TransmitGridView";
        settings.CallbackRouteValues = new
        {
            Controller = "Transmit",
            Action = "TransmitGridViewPartial"
        };

        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Transmit", Action = "TransmitGridViewPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Transmit", Action = "TransmitGridViewPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Transmit", Action = "TransmitGridViewPartialDelete" };
        settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
        settings.SettingsBehavior.ConfirmDelete = true;

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowNewButtonInHeader = true;
        settings.CommandColumn.ShowDeleteButton = false;
        settings.CommandColumn.ShowEditButton = false;

        settings.KeyFieldName = "Id";

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = false;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = true;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 350;

        settings.Columns.Add(col =>
        {
            col.SetDataItemTemplateContent(content =>
            {
                UnitOfWork unitOfWork = new UnitOfWork();
                int id = Convert.ToInt32(content.KeyValue);
                if (unitOfWork.TraceTransactionsRepo.Find(m => m.Id == id).ReceivingPersonnelId == null)
                {
                    Html.DevExpress().Button(btnSettings =>
                    {
                        btnSettings.Name = "btnReceive_" + content.KeyValue;
                        btnSettings.Text = "Receive";
                        btnSettings.ClientSideEvents.Click = "function(s,e){ReceiveByLiason(" + content.KeyValue + ")}";
                    }).GetHtml();
                }

            });

        });


        settings.Columns.Add(col =>
        {
            col.FieldName = "TraceDocuments.Barcode";
            col.PropertiesEdit.DisplayFormatString = "D11";
            col.Caption = "Barcode Number";
            col.SortDescending();
        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "ReceivingPersonnels.FullName";
            col.Caption = "Receiving Personnels";
        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "Departments.DepartmentName";
            col.Caption = "Receiving Department";
        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "TraceDocuments.Liasons.FullName";
            col.Caption = "Liason";
        });
        settings.Columns.Add("TraceDate");

        settings.SetEditFormTemplateContent(col =>
        {

            Html.RenderAction("cbpAddEditTransmitPartial");
        });



        settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = false;
        settings.SettingsDetail.ShowDetailRow = false;

        settings.SetDetailRowTemplateContent(col =>
        {
            /*
             *  var id = Convert.ToInt32(col.KeyValue);
             var traceTransaction = new UnitOfWork().TraceTransactionsRepo.Find(m => m.Id == id);
             if (traceTransaction.TraceDocuments.Users.DepartmentId == User.Identity.GetDepartmentId())
             {

                 Html.RenderAction("TraceDiscrepancyGridViewPartial", "TraceDiscrepancy", new { TraceTransactionId = col.KeyValue, MasterGridName = $"TransmitGridView" });
             }
             */
            ViewContext.Writer.Write("<h4>Discrepancies</h4>");
            Html.RenderAction("TraceDiscrepancyGridViewPartial", "TraceDiscrepancy", new { TraceTransactionId = col.KeyValue, MasterGridName = $"TransmitGridView" });
        });


    });
    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()